<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/images/fav.ico">
    <title>Botor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="title">Botor</div>
    <div class="chatbot">
        <div class="chat-box" id="chatBox">
            <div class="answer-side">
                <span class="answer-text">Hi! My name is Botor and i will try to answer to all your question.</span>
            </div>
        </div>
        <div class="input-container">
            <input class="chat-input" type="text" id="userInput" name="userInput" placeholder="Insert here your question">
            <button class="button" id="button-send" onclick="sendMessage()">Submit</button>
        </div>
    </div>
    <script>
        function testJSON(text) {
            if (typeof text !== "string") {
                return false;
            }
            try {
                JSON.parse(text);
                return true;
            } catch (error) {
                return false;
            }
        }

        function sendMessage() {
            if(document.getElementById('userInput').value != "") {
                generateResponse();
            }
        }
            
        function generateResponse() {
            var button = document.getElementById('button-send');
            button.disabled = true;

            var input = document.getElementById('userInput').value;
            document.getElementById('userInput').value = "";

            var chatBox = document.getElementById("chatBox");
            var userMessage = document.createElement("div");
            var userText = document.createElement("span");
            userText.innerHTML = input;
            userMessage.className = "question-side";
            userText.className = "question-text";
            userMessage.appendChild(userText);
            chatBox.appendChild(userMessage);
            chatBox = document.getElementById("chatBox");

            chatBox.scrollTop = chatBox.scrollHeight;
            chatBox.style.overflowY = "auto"

            var botMessage = document.createElement("div");
            var botText = document.createElement("span");
            var loadingContainer = document.createElement("div");
            var loading = document.createElement("div");
            var spinner = document.createElement("div");

            setTimeout(function() {
                loadingContainer.className = "loading-container";
                loading.className = "loading";
                loading.innerHTML = "O";
                spinner.className = "spinner";
                loadingContainer.appendChild(loading);
                loading.appendChild(spinner);

                botMessage.className = "answer-side";
                botText.className = "answer-text";

                botMessage.appendChild(loadingContainer);
                chatBox.appendChild(botMessage);
                chatBox.scrollTop = chatBox.scrollHeight;
                chatBox.style.overflowY = "auto"
            }, 1000);

            $.ajax({ 
                url: '/process', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify({ 'value': input }), 
                success: function(response) {
                    button.disabled = false;
                    botText.innerHTML = response.result;
                    botMessage.removeChild(loadingContainer);
                    botMessage.appendChild(botText);
                    chatBox.scrollTop = chatBox.scrollHeight;
                    chatBox.style.overflowY = "auto"
                }, 
                error: function(error) {
                    console.log(error); 
                } 
            }); 
        }
     </script>
</body>
</html>
